<main style="flex: 1 0 auto; margin-left: 0; margin-bottom: 0;">
  <div class="row light-green lighten-5" style="margin-bottom: 0;">

    <div id="side-nav" class="col s12 m5 l3 primary-color">
      <div class="card portrait">
        <div class="card-image"><img src="../../assets/resume/images/me.jpg">
          <div class="portrait-wrapper">
            <h4>Nikoay Dvoeglazov</h4>
            <h6>Software Engineer</h6>
          </div>
        </div>
      </div>
      <div class="main-nav-wrapper center-align"></div>
      <div class="facts-wrapper light-text">
        <div class="row">
          <div class="col s2 right-align fact-icon">
            <h5><i class="small material-icons">person</i></h5>
          </div>
          <div class="col s10 facts-content-col">
            <h5 class="side">Summary</h5>
            <p class="facts-about">✅ Node.js/ Express/ Angular/ MongoDB Expert <br> ✅ Java/ C#/ Python/ JS Expert</p>
            <p class="facts-about">I have 3+ years experience in Software Development like Web App, Android app, and some cross-platform apps using libGdx. Also I'm looking for machine learning projects experience and can handle tensorflow based projects.</p>
          </div>
        </div>
        <div class="row">
          <div class="col s2 right-align fact-icon">
            <h5><i class="small material-icons">phone</i></h5>
          </div>
          <div class="col s10 facts-content-col">
            <h5 class="side">Contact</h5>
            <p class="side"><a href="tel:+79831441411" target="_blank">+7-983-144-1411</a><br><a href="mailto:iblaudi@gmail.com" target="_blank">iblaudi@gmail.com</a><br><a href="https://blaud.ru" target="_blank">blaud.ru</a><br>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s2 right-align fact-icon">
            <h5><i class="small material-icons">tune</i></h5>
          </div>
          <div class="col s10 facts-content-col">
            <h5 class="side">Proficiency</h5><br>
            <div class="facts-skills-wrapper"><span class="progress-label">NodeJs</span><i style="left: calc(90% - 2px);" class="progress-icon mdi-image-lens"></i>
              <div class="progress-bg progress">
                <div style="width: 90%" class="progress-fg determinate light-bg"></div>
              </div><span class="progress-label">Angular</span><i style="left: calc(95% - 2px);" class="progress-icon mdi-image-lens"></i>
              <div class="progress-bg progress">
                <div style="width: 95%" class="progress-fg determinate light-bg"></div>
              </div><span class="progress-label">Javascript</span><i style="left: calc(90% - 2px);" class="progress-icon mdi-image-lens"></i>
              <div class="progress-bg progress">
                <div style="width: 90%" class="progress-fg determinate light-bg"></div>
              </div><span class="progress-label">HTML / CSS</span><i style="left: calc(90% - 2px);" class="progress-icon mdi-image-lens"></i>
              <div class="progress-bg progress">
                <div style="width: 90%" class="progress-fg determinate light-bg"></div>
              </div><span class="progress-label">C# / .NET</span><i style="left: calc(70% - 2px);" class="progress-icon mdi-image-lens"></i>
              <div class="progress-bg progress">
                <div style="width: 70%" class="progress-fg determinate light-bg"></div>
              </div><span class="progress-label">Java</span><i style="left: calc(70% - 2px);" class="progress-icon mdi-image-lens"></i>
              <div class="progress-bg progress">
                <div style="width: 70%" class="progress-fg determinate light-bg"></div>
              </div><span class="progress-label">Python</span><i style="left: calc(60% - 2px);" class="progress-icon mdi-image-lens"></i>
              <div class="progress-bg progress">
                <div style="width: 60%" class="progress-fg determinate light-bg"></div>
              </div><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-panel" class="col s12 m7 l9">
      <div class="row">

          <div class="col s12 m10 l5 right card-panel job">
            <h4>Education</h4>
            <h5 class="role">2014 - 2018</h5>
            <p>&mdash;	Bachelor of Engineering (B.Eng.), Software Engineering | Siberian Federal University</p>
            <h5 class="role">2018 - (unfinished yet)</h5>
            <p>&mdash;	Master of Engineering (M.Eng.), Software Engineering | Siberian Federal University</p>
          </div>

          <div class="col s12 m10 l5 right card-panel job">
            <h4>About me:</h4>
            <h5 class="role">What can you expect from me:</h5>
            <p>&mdash;	you will always be able to reach me.</p>
            <p>&mdash;	I do what you expect and I do it on time.</p>
            <h5 class="role">Common:</h5>
            <p>&mdash;	I'm really interested in creating applications, using newest frameworks and technologies.</p>
            <p>&mdash;	My hobby is learning mathematical statistics and discover how popular open-source ML projects work.</p>
          </div>

          <div class="col s12 m10 l11 right card-panel">
            <h4 class="center">My projects and samples(live preview)</h4>
            <div class="col s12 m10 l3 card-panel">
              <div class="row">
                <a routerLink="online_shop"><div class="col s12 facts-content-col job">
                  <h4>Online shop CRM</h4>
                  <h5 class="role">Description:</h5>
                  <p>Simple crm example with authorisation. All projects are clickable.</p>
                  <p>(part of this web app, live preview)</p>
                  <h5 class="role">Technologies:</h5>
                  <p>&mdash;	Angular 6, NodeJs, Materialize</p>
                  <h5 class="role">GitHub:</h5>
                  <p><a href="https://github.com/Blaud/blaud.ru">github repository blaud.ru</a></p>
                </div></a>
              </div>
            </div>
            <div class="col s12 m10 l3 card-panel">
              <div class="row">
                <a href="https://edujetplayer.blaud.ru"><div class="col s12 facts-content-col job">
                  <h4>EduJetPlayer</h4>
                  <h5 class="role">Description:</h5>
                  <p>Service that provides interface for learning any language by subtitles</p>
                  <p>(live preview)</p>
                  <h5 class="role">Technologies:</h5>
                  <p>&mdash;	AngularJs, NodeJs, bootstrap</p>
                  <h5 class="role">GitHub:</h5>
                  <p><a href="https://github.com/Blaud/edujetplayer">github repository EduJetPlayer</a></p>
                </div></a>
              </div>
            </div>
            <div class="col s12 m10 l3 card-panel">
              <div class="row">
                <a href="https://github.com/Blaud/overlap2d-runtime-html5-support"><div class="col s12 facts-content-col job">
                  <h4>Overlap2D HTML5</h4>
                  <h5 class="role">Description:</h5>
                  <p>Provide ability to compile Overlap2D application to runnable HTML5 project</p>
                  <p>(example in github repo)</p>
                  <h5 class="role">Technologies:</h5>
                  <p>&mdash;	LibGDX, OverLap2D, Java</p>
                  <h5 class="role">GitHub:</h5>
                  <p><a href="https://github.com/Blaud/overlap2d-runtime-html5-support">github repository Overlap2D HTML5</a></p>
                </div></a>
              </div>
            </div>
          </div>

      </div>
    </div>

  </div>
</main>

<!--FLOATING BTN-->
<div class="fixed-action-btn" #floating>
    <a class="btn-floating btn-large green">
      <i class="large material-icons">file_download</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="../../assets/resume/downloads/Dvoeglazov_Nikolay_rus.pdf"><i class="material-icons">picture_as_pdf</i></a></li>
      <li><a class="btn-floating blue" href="../../assets/resume/downloads/Dvoeglazov_Nikolay_rus.doc"><i class="material-icons">insert_drive_file</i></a></li>
    </ul>
  </div>

<footer class="page-footer">
  <div class="container">
    2018 Dvoeglazov Nikoaly
    <a class="grey-text text-lighten-4 right" href="https://blaud.ru">blaud.ru</a>
  </div>
</footer>

