/* line 16, _src/sass/resume.scss */
html, body {
  width: auto !important;
  overflow-x: hidden !important; }

/* line 21, _src/sass/resume.scss */
.light-text {
  color: #bff2fa; }

/* line 22, _src/sass/resume.scss */
.contrast-bg {
  background-color: #04c754 !important; }

/* line 23, _src/sass/resume.scss */
.light-bg {
  background-color: #bfc3f2 !important; }

/* line 24, _src/sass/resume.scss */
.primary-color {
  background: #103133; }

/* line 28, _src/sass/resume.scss */
.primary-dark {
  background: black; }

/* line 32, _src/sass/resume.scss */
.primary-nav {
  background: #04c754; }

/* line 36, _src/sass/resume.scss */
.primary-nav:hover, .btn-large:hover {
  background: #04c754;
  color: white; }

/* line 41, _src/sass/resume.scss */
.primary-nav i, .btn-large i {
  color: #1A237E;
  color: white; }

/* line 50, _src/sass/resume.scss */
.floating-download {
  background-color: red; }

/* line 54, _src/sass/resume.scss */
.floating-download:hover {
  background-color: #04c754; }

/* FIXING LEFT COLUMN 100% HEIGHT */
/* So 100% means 100% */
/* line 62, _src/sass/resume.scss */
* {
  box-sizing: border-box; }

/* Make the body to be as tall as browser window */
/* line 65, _src/sass/resume.scss */

html, body {
  height: 100%;
  font-size: 100%; }

/* Add room for Footer */
/* line 68, _src/sass/resume.scss */
#side-nav {
  height: 100%;
  margin-bottom: 0;
  padding: 0; }

/* Attach footer to left column */
/* line 73, _src/sass/resume.scss */

/* line 75, _src/sass/resume.scss */
footer.page-footer {
  background-color: #9bb199;
  margin-left: 0;
  padding-top: 0;
}

/* line 77, _src/sass/resume.scss */
a {
  color: #1A237E; }

/* PORTRAIT PHOTO CONTAINER */
/* Fix photo to the top of the page */
/* line 82, _src/sass/resume.scss */
.portrait {
  margin-top: 0; }

/* Remove portrait card shadow from materialize */
/* line 86, _src/sass/resume.scss */
.card.portrait,
.main-nav-wrapper > .collapsible,
#side-nav .card-panel,
#side-nav .card.portrait,
.facts-wrapper > .collapsible {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent; }

/* line 100, _src/sass/resume.scss */
.portrait-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 20px;
  padding-left: 19%;
  padding-bottom: 30px;
  display: block;
  width: 100%;
  color: #fff;
  background: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background: -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background: -ms-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background: -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)); }

/* FACTS AREA ON LEFT COLUMN */
/* line 123, _src/sass/resume.scss */
h5.side {
  font-size: 110%; }

/* line 125, _src/sass/resume.scss */
p.side a {
  color: #bfc3f2; }

/* line 127, _src/sass/resume.scss */
.facts-wrapper {
  margin-top: 0px; }

/* line 132, _src/sass/resume.scss */
.facts-wrapper:last-child {
  position: relative;
  margin-bottom: 50px;
  bottom: 0; }

/* line 138, _src/sass/resume.scss */
.facts-wrapper .facts-content-col {
  padding-right: 0; }

/* line 142, _src/sass/resume.scss */
.facts-wrapper p {
  margin-top: -10px;
  padding: 16px 0;
  font-size: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 300;
  line-height: 180%;
  width: 100%; }

/* line 151, _src/sass/resume.scss */
.facts-wrapper .facts-about {
  padding-right: 30px; }

/* line 155, _src/sass/resume.scss */
.fact-icon {
  padding-bottom: 0px; }

/* line 162, _src/sass/resume.scss */
.col.s9.facts-content-col {
  padding-left: 0; }

/* line 165, _src/sass/resume.scss */
.facts-wrapper span {
  display: block;
  line-height: 160%; }

/* line 170, _src/sass/resume.scss */
.facts-content-lg {
  font-size: 120%;
  font-weight: 400; }

/* line 176, _src/sass/resume.scss */
.facts-content-sm {
  font-size: 90%;
  padding-bottom: 10px; }

/* line 184, _src/sass/resume.scss */
.facts-skills-wrapper {
  width: 85%; }

/* line 188, _src/sass/resume.scss */
.progress-label {
  font-size: 80%; }

/* line 192, _src/sass/resume.scss */
.progress-icon {
  height: 0px;
  display: block;
  position: relative;
  z-index: 1;
  font-size: 0.75rem; }

/* line 201, _src/sass/resume.scss */
.progress-fg, .progress-bg {
  height: 2px; }

/* line 205, _src/sass/resume.scss */
.progress-bg {
  background: black; }

/* MAIN PANEL AREA */
/* line 212, _src/sass/resume.scss */
#main-panel .card-panel {
  /*margin: 2%;*/
  margin-right: 5%;
  margin-left: 3.3%;
  margin-top: 2%;
  color: #0D47A1;
  background: rgb(251, 255, 251);
; }

/* line 217, _src/sass/resume.scss */
#main-panel .card-panel p {
  color: #535353;
  font-weight: 300; }

/* line 222, _src/sass/resume.scss */
#main-panel .card-panel h4 {
  font-weight: 500;
  font-size: 160%; }

/* line 226, _src/sass/resume.scss */
#main-panel .card-panel h5.role {
  font-size: 100%;
  color: #7f88e5;
  text-transform: uppercase;
  margin: 2rem 0 0 0; }

/* line 232, _src/sass/resume.scss */
#main-panel .card-panel h6 {
  font-size: 80%;
  color: #888;
  text-transform: uppercase; }

/* line 237, _src/sass/resume.scss */
#main-panel .card-panel hr {
  border: 0px;
  height: 2px;
  background-color: #eee;
  margin: 30px -32px 30px 0; }

/* line 244, _src/sass/resume.scss */
.facts-interests p i {
  color: #1A237E;
  margin: 0 30px; }

/* line 251, _src/sass/resume.scss */
.contact-footer {
  margin-top: 20px; }

/* line 252, _src/sass/resume.scss */
.contact-footer a {
  line-height: 400%;
  margin: 10px; }

/* line 256, _src/sass/resume.scss */
.contact-footer a:first-of-type {
  margin-right: 20px; }

/* line 260, _src/sass/resume.scss */
blockquote {
  margin: 20px 0;
  padding-left: 0.75rem;
  border-left: 3px solid #aab0ed; }

/* line 269, _src/sass/resume.scss */
.work-company {
  font-weight: 500;
  color: #666666; }

/* line 278, _src/sass/resume.scss */
.built-with a {
  margin: 0; }

/* line 279, _src/sass/resume.scss */
.built-with a:first-of-type {
  margin-right: 0px; }

/* line 282, _src/sass/resume.scss */
.built-with span.title {
  font-size: 1em; }

/* line 283, _src/sass/resume.scss */
.built-with img {
  width: 12%;
  margin: 0; }

/* line 285, _src/sass/resume.scss */
.job-highlight {
  font-size: 90%; }

/* line 287, _src/sass/resume.scss */
.timeline-graph {
  width: 100%;
  margin: 30px 0; }

/* line 293, _src/sass/resume.scss */
#forkongithub {
  position: fixed;
  display: block;
  top: -30px;
  right: 0;
  width: 260px;
  overflow: hidden;
  height: 260px;
  z-index: 9999; }

/* line 303, _src/sass/resume.scss */
#forkongithub a {
  background: #1A237E;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 5px 40px;
  font-size: .825rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s; }

/* line 314, _src/sass/resume.scss */
#forkongithub a {
  width: 230px;
  position: absolute;
  top: 60px;
  right: -60px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); }

/* line 327, _src/sass/resume.scss */
#forkongithub a:hover {
  background: #04c754;
  color: #fff; }

/* line 331, _src/sass/resume.scss */
#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff; }

/* line 342, _src/sass/resume.scss */
#forkongithub a::after {
  bottom: 1px;
  top: auto; }

/* line 347, _src/sass/resume.scss */
.floating-badge {
  position: absolute;
  margin-left: -50px;
  top: 3px;
  right: 50px;
  color: white;
  font-size: .625em;
  background: rgba(0, 0, 0, 0.75);
  padding: 0 10px 3px 3px;
  line-height: 1em; }

@media (max-width: 600px) {
  /* line 365, _src/sass/resume.scss */
  #side-nav {
    height: auto; }
  /* line 367, _src/sass/resume.scss */
  div.contact-footer a {
    margin: 0 20px; }
  /* line 370, _src/sass/resume.scss */
  .contact-footer a:first-of-type {
    display: block;
    width: 100%;
    margin-left: 0; }
  /* line 375, _src/sass/resume.scss */
  .built-with img {
    margin: 0px;
    width: 24%; }
  /* line 377, _src/sass/resume.scss */
  #main-panel .card-panel {
    margin: 10px 0px 30px;
    color: #333; } }

@media (min-width: 600px) and (max-width: 991px) {
  /* line 387, _src/sass/resume.scss */
  #side-nav {
    height: 100%; }
  /* line 388, _src/sass/resume.scss */
  h4 {
    font-size: 1.5rem; }
  /* line 389, _src/sass/resume.scss */
  h6 {
    font-size: 0.825rem;
    line-height: 0; }
  /* line 391, _src/sass/resume.scss */
  .built-with img {
    width: 24%; }
  /* line 392, _src/sass/resume.scss */
  .contact-footer a:first-of-type {
    display: block;
    width: 100%;
    margin-left: 0; }
  /* line 397, _src/sass/resume.scss */
  #main-panel .card-panel h4 {
    font-size: 3.5vw;
    line-height: 4.5vw; }
  /* line 401, _src/sass/resume.scss */
  #main-panel .card-panel h5 {
    font-size: 2.5vw;
    line-height: 3.5vw; }
  /* line 405, _src/sass/resume.scss */
  #main-panel .card-panel h6 {
    font-size: 2.0vw;
    line-height: 2.5vw; } }
